Checks: >
    google-explicit-constructor,
    google-readability-*,
    concurrency-*,
    performance-*,
    misc-*,
    bugprone-*,
    readability-*,
    google-readability-*,
    modernize-*,
    clang-analyzer-*,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -misc-unused-parameters,
    -misc-const-correctness,
    -misc-use-anonymous-namespace,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-lambda-function-name,
    -bugprone-narrowing-conversions,
    -readability-convert-member-functions-to-static,
    -readability-function-cognitive-complexity,
    -readability-magic-numbers,
    -readability-redundant-access-specifiers,
    -readability-braces-around-statements,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -modernize-use-trailing-return-type,
    -modernize-concat-nested-namespaces,
    -modernize-avoid-c-arrays,
